@import "tailwindcss"; 

@theme {
  --color-primary:#FECC00;
  /* --color-secondary:#8D00FE; /*purple */
  /* --color-tertiary:#00F0FE; skyblue */ 
  --color-secondary:#0032FE;
  --color-white:#ffffff;
  --color-black:#000000;
  --color-textPrimary:var(--color-gray-800)

}

.swiper {
  cursor: default !important;
}